<!DOCTYPE HTML>
<html>
<head>
<title>IDiFY Solutions - Leave Summary</title>
{% load staticfiles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
</head>
<body>
	<div id="header">{% load staticfiles %}
		<a class="logo"><img src="{{ STATIC_URL }}images/logo.jpg" alt="" width=200></a>
	<ul class="dropdown">
        	<li><a>Admin Profile</a>
        		<ul class="sub_menu">
        			 <li><a href="adminprofile">Edit Profile</a></li>
        			 <li><a href="changepwd">Change Password</a></li>
        			 <li><a href="logout">Logout</a></li>
        		</ul>
        	</li>
        	<li><a>Employees</a>
        		<ul class="sub_menu">
        			<li><a href="adduser">Add an Employee</a></li>
				<li><a href="allusers">All Users</a></li>
				<li><a href="allcontacts">User Contacts</a></li>
			</ul>
        	</li>
        	<li><a>Leave</a>
        		<ul class="sub_menu">
				<li><a href="usrs_leaves">User Leave</a></li>
				<li><a href="admnleavesummary">Leave Summary</a></li>
				<li><a href="approve">Approve Leave</a></li>
        		</ul>
        	</li>
		<li><a>Projects</a>
        		<ul class="sub_menu">
        			<li><a href="createproject">Create Project</a></li>
				<li><a href="allproject">All Projects</a></li>
        		</ul>
        	</li>
		<li><a>Payroll</a>
        		<ul class="sub_menu">
        			<li><a href="emp_payroll">Employee Payroll</a></li>
        		</ul>
        	</li>
		<li><a>DMS</a>
        		<ul class="sub_menu">
        			<li><a href="alldocs">Employee Documents</a></li>
        		</ul>
        	</li>
		<li><a>Announcement</a>
        		<ul class="sub_menu">
				<li><a href="create_announcement">Create Announcement</a></li>
				<li><a href="view_announcements">View All</a></li>
        		</ul>
        	</li>
        </ul>
	</div>
	<div id="body" style="z-index:99;">
		<div class="sidebar">
			<h3>QUICK LINKS</h3>
			<ul>
				<li>
				<center><a href="createproject"><span>Create A Project</span></a></center>
				</li>
				<li>
				<center><a href="approve"><span>Approve Leave</span></a></center>
				</li>
				<li>
				<center><a href="create_announcement"><span>Create Announcement</span></a></center>
				</li>
				<li>
				<center><a href="usrs_leaves"><span>User Leaves</span></a></center>
				</li>
				<li>
				<center><a href="emp_payroll"><span>Employees Payroll</span></a></center>
				</li>
				<li>
				<center><a href="allproject"><span>View All Projects</span></a></center>
				</li>
				<li>
				<center><a href="view_announcements"><span>View Announcements</span></a></center>
				</li>
			</ul>
		</div>
		<div class="content">
		<h2>Approve Leave</h2><br><br>
		<div style="margin-left:25px;"><h3>
		<table width="80%" border=0 cellpadding=2 cellspacing=2>
		{% if msg %}<tr><td>{{ msg }}</td></tr>{% else %}
		{% for a in obj %}
			<tr><td>Employee Name</td><td></td></tr>
			<tr><td>Leave Type</td><td>{{ a.leavetype }}</td></tr>
			<tr><td>From Date</td><td>{{ a.frmdate }}</td></tr>
			<tr><td>To Date</td><td>{{ a.todate }}</td></tr>
			<tr><td>Status</td><td>Pending</td></tr>
			<tr><td>Description</td><td>{{ a.desc }}</td></tr>
			{% load staticfiles %}
			<tr><td><a href="process_approve?id={{ a.id }}&val=2"><img src="{{ STATIC_URL }}images/approve.jpg"></a></td>
			    <td><a href="process_approve?id={{ a.id }}&val=0"><img src="{{ STATIC_URL }}images/reject.jpg"></a></td>
			</tr>
			<tr><td colspan=2>--------------------------------------------------------------------------------------------</td></tr>
		{% endfor %}{% endif %}
		</table></h3></div>
		</div>
	</div>
	<div id="footer">
	</div>
</body>
</html>
