<!DOCTYPE HTML>
<html>
<head>
<title>IDiFY Solutions - Leave Summary</title>
{% load staticfiles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
</head>
<body>
	<div id="header">{% load staticfiles %}
		<a class="logo"><img src="{{ STATIC_URL}}images/logo.jpg" alt="" width=200></a>
	<ul class="dropdown">
        	<li><a>Employee Profile</a>
        		<ul class="sub_menu">
        			<li><a href="edituser">Edit Profile</a></li>
				<li><a href="changepwd">Change Password</a></li>
				<li><a href="logout">Logout</a></li>
        		</ul>
        	</li>
        	<li><a>Leaves</a>
        		<ul class="sub_menu">
        			<li><a href="applyforleave">Apply for Leave</a></li>
				<li><a href="userleave">My Leave</a></li>
				<li><a href="leavesummary">Leave Summary</a></li>
			</ul>
        	</li>
        	<li><a>Projects</a>
        		<ul class="sub_menu">
				<li><a href="myprojects">Assigned Projects</a></li>
        		</ul>
        	</li>
		<li><a>Payroll</a>
        		<ul class="sub_menu">
        			<li><a href="salary_slip">Salary Slip</a></li>
        		</ul>
        	</li>
		<li><a>DMS</a>
        		<ul class="sub_menu">
        			<li><a href="upload">Upload a Document</a></li>
				<li><a href="mydocs">My Documents</a></li>
        		</ul>
        	</li>
		<li><a>Contacts</a>
        		<ul class="sub_menu">
        			<li><a href="addcontact">Add A Contact</a></li>
				<li><a href="mycontacts">My Contacts</a></li>
        		</ul>
        	</li>
		<li><a>Announcement</a>
        		<ul class="sub_menu">
				<a href="announcements">Announcements</a>
        		</ul>
        	</li>
        </ul>
	</div>
	<div id="body" style="z-index:99;">
		<div class="sidebar">
			<h3>QUICK LINKS</h3>
			<ul>
				<li>
				<center><a href="applyforleave"><span>Apply For Leave</span></a></center>
				</li>
				<li>
				<center><a href="announcements"><span>View Announcements</span></a></center>
				</li>
				<li>
				<center><a href="myprojects"><span>My Projects</span></a></center>
				</li>
				<li>
				<center><a href="userleave"><span>My Leaves</span></a></center>
				</li>
				<li>
				<center><a href="salary_slip"><span>Salary Slip</span></a></center>
				</li>
				<li>
				<center><a href="mycontacts"><span>My Contacts</span></a></center>
				</li>
				<li>
				<center><a href="mydocs"><span>My Documents</span></a></center>
				</li>
			</ul>
		</div>
		<div class="content">
		<h2>Leave Summary</h2><br><br>
		<div style="margin-left:20px;"><h3>
		<table width="50%" border=0 cellpadding=6 cellspacing=6>
		<tr><td>RH Leaves</td><td>3</td></tr>
		<tr><td>Personal Leaves</td><td>3</td></tr>
		<tr><td>Casual Leaves</td><td>10</td></tr>
		<tr><td>Marriage Leaves</td><td>15</td></tr>
		<tr><td>Bevearment Leaves</td><td>3</td></tr>
		<tr><td>Compulsary Leaves</td><td>6</td></tr>
		</table></div></h3>
		</div>
	</div>
	<div id="footer">
	</div>
</body>
</html>
