<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>IDiFY Solutions - Index</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
</head>
<body>
	<div id="header">{% load staticfiles %}
		<a class="logo"><img src="{{ STATIC_URL }}images/logo.jpg" alt="" width=200></a>
	<ul class="dropdown">
        	<li><a>Admin Profile</a>
        		<ul class="sub_menu">
        			 <li><a href="adminprofile">Edit Profile</a></li>
        			 <li><a href="changepwd">Change Password</a></li>
        			 <li><a href="logout">Logout</a></li>
        		</ul>
        	</li>
        	<li><a>Employees</a>
        		<ul class="sub_menu">
        			<li><a href="adduser">Add an Employee</a></li>
				<li><a href="allusers">All Users</a></li>
				<li><a href="allcontacts">User Contacts</a></li>
			</ul>
        	</li>
        	<li><a>Leave</a>
        		<ul class="sub_menu">
				<li><a href="usrs_leaves">User Leave</a></li>
				<li><a href="admnleavesummary">Leave Summary</a></li>
				<li><a href="approve">Approve Leave</a></li>
        		</ul>
        	</li>
		<li><a>Projects</a>
        		<ul class="sub_menu">
        			<li><a href="createproject">Create Project</a></li>
				<li><a href="allproject">All Projects</a></li>
        		</ul>
        	</li>
		<li><a>Payroll</a>
        		<ul class="sub_menu">
        			<li><a href="emp_payroll">Employee Payroll</a></li>
        		</ul>
        	</li>
		<li><a>DMS</a>
        		<ul class="sub_menu">
        			<li><a href="alldocs">Employee Documents</a></li>
        		</ul>
        	</li>
		<li><a>Announcement</a>
        		<ul class="sub_menu">
				<li><a href="create_announcement">Create Announcement</a></li>
				<li><a href="view_announcements">View All</a></li>
        		</ul>
        	</li>
        </ul>
	</div>
	<div id="body" style="z-index:99;">
		<div class="sidebar">
			<h3>QUICK LINKS</h3>
			<ul>
				<li>
				<center><a href="createproject"><span>Create A Project</span></a></center>
				</li>
				<li>
				<center><a href="approve"><span>Approve Leave</span></a></center>
				</li>
				<li>
				<center><a href="create_announcement"><span>Create Announcement</span></a></center>
				</li>
				<li>
				<center><a href="usrs_leaves"><span>User Leaves</span></a></center>
				</li>
				<li>
				<center><a href="emp_payroll"><span>Employees Payroll</span></a></center>
				</li>
				<li>
				<center><a href="allproject"><span>View All Projects</span></a></center>
				</li>
				<li>
				<center><a href="view_announcements"><span>View Announcements</span></a></center>
				</li>
			</ul>
		</div>
		<div class="content">
		<h2>{{obj1.title}} : Details</h2><br><br>
		<h3>
		<table width=100%>
		<tr><th align=left>Project Title</th><td>{{obj1.title}}</td></tr>
		<tr><th align=left>Technology</th><td>{{obj1.tech}}</td></tr>
		<tr><th align=left>Description</th><td>{{obj1.desc}}</td></tr>
		<tr><th align=left>Start Date</th><td>{{obj1.sdate}}</td></tr>
		<tr><th align=left>End Date</th><td>{{obj1.edate}}</td></tr>
		<tr><th align=left>Client ID</th><td>{{obj1.clientid}}</td></tr>
		<tr><th align=left>Creation Date</th><td>{{obj1.cdate}}</td></tr>
		<tr><th colspan=2  align=left>Name of Employees:</th></tr>
		{%for a in obj2%}
		<tr><td colspan=2>{{a.member_name}}</td></tr>
		{%endfor%}
		</table>
		
		</h3></div>
	</div>
	<div id="footer">
		</div>
</body>
</html>
